@import './variables';
@import 'mixins/responsive';
@import 'bootstrap/bootstrap';
@import 'shared/header';
@import 'shared/footer';
@import 'shared/navbar';
@import 'shared/icons';
@import 'shared/indication_form';

@import 'pages/indication';

html {
	@include min-desktop-size {
		font-size: 1.2em;
	}
	@include max-tablet-size {
		font-size: 1.15em;
	}
	@include max-mobile-size {
		font-size: 1em;
	}
}

section {
  margin: 30px 0;
}