.contact {
  background-color: #18ACC4;
  .contact__item {
    font-size: .7em;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    text-align: center;
    padding: 10px 5px;
    color: #FFF;
    @include min-tablet-size {
      padding: 30px 5px;
    }
    @include min-desktop-size {
      border: none;
    }
    &.phone {
      padding: 15px 7px;
      width: 150px;
      @include min-desktop-size {
        padding: 25px 7px;
        width: auto;
      }
      .item__label {
        display: block;
      }
    }
    &.col .icon {
      display: block;
      margin: 0 auto 7px;
      @include min-desktop-size {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
  .item__label {
    color: #FFF;
    vertical-align: middle;
    font-weight: 500;
    font-size: 1.1em;
    @include min-desktop-size {
      font-size: 1.5em;
    }
  }
  .item__status {
    width: 7px;
    height: 7px;
    background: white;
    display: inline-block;
    border-radius: 50px;
    margin-right: 3px;
    &.item__status--online {
      background-color: green;
    }
    &.item__status--offline {
      background-color: red;
    }
  }
  .icon {
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 0.1);
    @include min-desktop-size {
      height: 35px;
      width: 35px;
    }
  }
}

.links {
  background: #05869B;
  padding: 30px 0;
  h2 {
    color: #FFF;
    font-weight: 400;
    font-size: .9em;
    margin: 10px 0;
  }
  ul {
    padding: 0 15px;
    li {
      list-style: none;
      a {
        color: #FFF;
        font-size: .8em;
      }
    }
  } 
}