.indication-form {
  background: white;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  color: #666;
  z-index: 1;
  position: relative;
  box-shadow: 0 4px 5px -3px #cacaca;
  @include min-desktop-size {
    padding: 40px;
  }
  .indication-form__title {
    font-size: 1.25em;
    letter-spacing: -0.01em;
    font-weight: 900;
    line-height: 1.3em;
    color: #333;
    margin-bottom: 20px;
  }
  p {
    font-size: .9em;
  }
  .form-group label {
    font-size: .7em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .form-control {
    font-size: .85em;
  }

  .col-md-8 {
    width: 60%;
  }
  .col-md-4 {
    width: 40%;
    .form-control {
      height: 38px;
      @include min-desktop-size {
        height: 45px;
      }
    }
  }
  a {
    font-size: .8em;
    text-align: center;
    display: block;
    margin: 20px 0;
    color: #de9e1f;
    font-weight: 700;
  }
  .btn {
    font-size: .9em;
    font-weight: 500;
  }
}