.navbar {
  background: #00a8bd;
  margin: 0;
  padding: 0;
  display: block;
  a {
    color: #FFF;
    font-size: .8em;
    margin: 0 10px;
    vertical-align: text-top;
    padding: 10px 0;
    display: inline-block;
  }

}

.navbar__title {
  font-size: .85em;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar__toggle-menu {
  background: none;
  border: none;
  color: white;
  font-size: .85em;
  @include min-desktop-size {
    display: none;
  }
}

.navbar__menu {
  margin: 0;
  &.navbar__menu--hidden {
    display: none;
    @include min-desktop-size {
      display: inline-block;
      float: right;
    }
  }
  .navbar__menu-item {
    list-style: none;
    display: inline-block;
    &.navbar__menu-item--active {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}