.topbar-header {
  width: 100%;
  height: 64px;
  display: flex;
  position: relative;
  box-shadow: 0px 1px 5px hsla(0, 0%, 0%, 0.5);
  .container {
    display: flex;
  }
}

.topbar-header__item {
  height: 100%;
  width: 70px;
  display: inline-block;
  font-size: .8em;
  color: #666;
  vertical-align: bottom;
  padding-top: 6px;
  @include min-desktop-size {
    width: 350px;
    &:before {
      content: '';
      width: 1px;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
  @include max-tablet-size {
    display: none;
  }

  .icon, span {
    vertical-align: middle;
    font-size: .9em;
    color: #666;
    display: block;
    text-align: center;
    margin: 0 auto;
    @include min-desktop-size {
      display: inline-block;
      margin: initial;
      text-align: left;
    }
  }

  &.topbar-header__item--right {
    float: right;
    text-align: right;
  }
  &.topbar-header__support .support-item {
    display: inline-block;
    &:first-child {
      border-right: 1px solid #e6e6e6;
      padding-right: 13px;
      margin-right: 8px;
    }
  }
  &.topbar-header__logo {
    background-image: url(https://d2my3dgdogz33p.cloudfront.net/assets/logo-querobolsa-42a6f39ff851dea4c66ed0ab56e3fa8a9195dfef81b057031fb03ecffb20e34b.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
    width: 120px;
    margin: 0 auto;
    display: inline-block;
  }
}

.topbar-header__item--mobile {
  display: inline-block;
  @include min-desktop-size {
    display: none;
  }
}