p, a {
  color: #575757;
}

h1, h2, h3, h4, h5 {
  color: #333;
}

.indication-wrapper__header {

  .header__title {
    font-size: 1.5em;
    font-weight: 800;
   }
   .header__subtitle {
    font-size: .9em;
    line-height: 1.5em;
   }
}

.indication-wrapper {
  padding: 20px 0;
  background: #f5f5f5;
  @include min-desktop-size {
    padding: 40px 0;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 70px;
    background: white;
    margin-top: -30px;
  }
}

.indication-guide__header {
  h2 {
    font-size: 1.2em;
    letter-spacing: -0.01em;
    font-weight: 900;
  }
  p {
    font-size: .9em;
    line-height: 1.5em;
  }
  strong {
    font-size: 1em;
  }
}

.indication-guide__steps {
  padding: 20px 0;
}

.indication-guide__step {
  font-size: .8em;
  position: relative;
  margin: 10px 0 30px;
  &:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background: black;
    top: -24px;
    left: 24px;
  }
  &:first-child:before {
    display: none;
  }
  .step__index {
    display: inline-block;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #666;
    color: #333;
    font-weight: 900;
    width: 48px;
    text-align: center;
    vertical-align: middle;
  }
  p {
    display: inline-block;
    width: calc(100% - 70px);
    padding-left: 15px;
    vertical-align: middle;
    margin: 0;
    strong {
      font-weight: 900;
    }
  }
}

.indication-share {
  h2 {
    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 1.2em;
    @include min-desktop-size {
      border-bottom: 1px solid #dedede;
      padding-bottom: 20px;
    }
  }
  .indication-share__title {
    font-size: 1.05em;
    line-height: 1.4em;
    margin: 20px 0;
  }
  .indication-share__mode {
    font-size: .8em;
    display: inline-block;
    p {
      color: #666;
      margin-bottom: 10px;
    }
  }
  .indication-share__email {
    margin-right: 20px;
  }
  .indication-share__direct {
    margin-bottom: 20px;
    width: 100%;
    p {
      margin-bottom: 5px;
    }
    .tip {
      font-style: italic;
      font-size: .9em;
      display: block;
      margin-top: 10px;
    }
    .form-control {
      font-size: 1em;
    }
  }
}